.footer {
    background-color: green;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
/* position may change content is added */
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

.footerIcons span {
    font-size: 1.5rem;
    padding: 5px;
    margin: 0;
}

.footer .copyRight {
    font-size: .5rem;
    padding: 0;
}