
body {
  background-color: black;
}

.parallax {
  height: 900px;
}

.modelTitle {
  background: #fff;
  left: 50%;
  top: 50%;
  position: absolute;
  padding: 20px;
  transform: translate(-50%, -50%);
  font-size: 30px;
  opacity: 0.7;
  font-weight: bolder;
  border-radius: 15px;
}
.mobileTitle {
  display: none;
}
.model-container {
  height: 800px;
}
.model-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.model-image img,
.mobile-image img {

  margin-top: 0px;
  height: 398px;
  width: 100%;
}

.buy {
  background-color: black;
  height: 380px;
  padding: 10px;
}

.cars-description {
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
  /* width: 95%; */
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 75px;
}
button {
  width: 150px;
  height: 50px;
  border-radius: 15px;
  border: none;
  background-color: #e31937;
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px white;
  font-weight: bold;
  font-size: 20px;
}

button:active {
  transform: translateY(4px);
}

.cars-info {
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
  width: 95%;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 125px;
}

@media screen and (max-width: 1024px) {
  /* .parallaxImage {
    width: 100%;
  }*/
  .cars-description {
    font-size: 19.75px;
  }
  .cars-info {

    font-size: 19.75px;
  } 
}

@media screen and (max-width: 805px) {
  .parallaxImage {
    width: 100%;
  }
  .cars-description {
    font-size: 20px;
  }
  .cars-info {

    font-size: 20px;
  }
}

@media all and (max-width: 480px) {
  .parallaxImage {
    display: none;
  }
  .model-grid {
    display: flex;
    flex-direction: column;
  }
  .model-image img {
    height: 400px;
  }
  .extra,
  .mobile-image {
    display: none;
  }

  .mobileTitle {
    display: flex;
    width: 200px;
    justify-content: center;
    background: #fff;
    left: 50%;
    top: 45%;

    position: relative;
    padding: 20px;
    transform: translate(-50%, -50%);
    font-size: 20px;
    opacity: 0.9;
    font-weight: bolder;
    border-radius: 15px;
    text-align: center;
  }
  .buy {
    height: 200px;
  }
  .cars-description {
    font-size: 20px;
  }
  .cars-info {

    display: none;
  }
  button {
    width: 125px;
    height: 25px;
    border-radius: 15px;
    border: none;
    background-color: #e31937;
    color: white;
    cursor: pointer;
    box-shadow: 2px 2px white;
    font-weight: bold;
    font-size: 10px;
  }
}
